# Node stuff
/node_modules
/package-lock.json
/package.json

# Puzzle inputs
solutions/day*/input.txt
solutions/day*/example.txt

# TypeScript dist files
solutions/day2/both.js
solutions/day7/both.js
solutions/day8/both.js
solutions/day9/both.js
solutions/day10/part1.js
solutions/day10/part2.js
/solutions/day10/both.js